<h2>分析</h2>
<p><a href="/analysis/payment">今月の支出</a></p>
<p><%= @payment %>円</p>
<hr>
<p><a href="/analysis/income">今月の収入</a></p>
<p><%= @income %>円</p>
<hr>
<p>今月の収支</p>
<p><%= @account %>円</p>
<hr>
