<div class="container signup">
<h2>新規ユーザー登録</h2>

<div class="input">
    <%= form_tag ("/user/create") do %>
        <p>ユーザー名</p>
        <input name="name">
        <p>メールアドレス</p>
        <input name="email" >
        <p>パスワード</p>
        <input name="password">
        <input type="submit" value="新規登録">
    <% end %>
</div>
</div>

