<!DOCTYPE html>
<html>
  <head>
    <title>AccountBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="title">
            <a href='/'>家計簿アプリ</a>
        </div>
        <ul>
          <li>
            <a href='/new'>記録する</a>
          </li>
          <li>
            <a href='/analysis/show'>分析</a>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
